body{
    font-family: 'Roboto',sans-serif;
}
.Search-box{
    margin-bottom:10px;
}
.Playlist{
    display:flex;
}
.Content-box {
    width: 300px;
    margin-right: 15px;
  }
  .dp-box {
    display: flex;
    align-items: flex-start;
  }

.dp-box p{
    margin:0;
    line-height:1.2;
}
.Thumbnail {
    width: 300px;
    margin-bottom: 12px;
  }
.Dp{
    width:36px;
    height:35px;
    border-radius:18px;
    margin-right: 10px;
}
.title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 0 12px 0;
  }
.Video-stats{
    margin-left:45px;
    color:rgb(96, 96, 96);
    font-size:12px;
}
.stats{
    margin-top:5px;
    margin-bottom:5px;
}
.youtuber{
    margin-top:10px;
    margin-bottom: 5px;
}




